.root {
    -fx-background-color: #f9f9f9;
    -fx-padding: 30px;
    -fx-font-family: "Segoe UI", sans-serif;
}

.label {
    -fx-text-fill: #333333;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #2e8b57;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.2, 0, 2);
}

.vbox {
    -fx-background-color: cyan;
}

.button:hover {
    -fx-background-color: #3cb371;
}

.text-field, .text-area {
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-padding: 8px;
    -fx-background-color: #ffffff;
    -fx-font-size: 13px;
}
